body ul li h1 h2 a{
    font-family: arial;
    margin: 0px;
}
header{
    background-color: #b43232;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
}
header h1{
    display: inline-block;
    color: white;
    border: 8px solid white;
    z-index: 1;
    border-radius: 28%;
    border-image: initial;
    padding: 6px 12px;
}