body, ul, li, h1, h2, a{
    font-family: arial;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #b43232;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px;
}
header h1{
    display: inline-block;
    color: white;
    border: 8px solid white;
    border-image: initial;
    border-radius: 30%;
    padding: 6px 12px;
}
.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner .welcome{
    background-color: rgb(255, 208, 0);
    color: white;
    position: absolute;
    top: 30%;
    left: 0px;
    padding: 30px;
}
.banner h2{
    font-size: 74px;
}
.banner h2 span{
    font-size: 90px;
}
nav{
    background-color: antiquewhite;
    position: sticky;
    top: 100px;
    padding: 20px;
}
nav ul{
    max-width: 1200px;
    margin: 0px auto;
    white-space: nowrap;
}
nav ul li{
    width: 25%;
    display: inline-block;
}
nav li a{
    text-decoration: none;
    color: slategray;
}
nav li a.join{
    color: #b43232;
}
main{
    max-width: 100%;
    width: 1200px;
    box-sizing: border-box;
    margin: 80px auto;
    padding: 0px 40px;   
}
main h2{
    font-size: 48px;
    color:#b43232;
}
main p{
    line-height: 28px;
    color: slategray;
}
.images{
    text-align: center;
    white-space: nowrap;
    margin: 80px 0px;
}
.images li{
    width: 100%;
    display: block;
    margin: 20px auto;
}
.images li img{
    max-width: 100%;
}
.joinn{
    background-color: antiquewhite;
    color: slategray;
    padding: 60px 20px;
    text-align: center;
}
.joinn h2{
    font-size: 48px;
}

form input{
    font-size: 24px;
    margin: 20px 0px;
    padding: 10px 20px;
    border: 4px solid white;
    border-radius: 20px;
    border-image: initial;
}
footer{
    background-color: #b43232;
    color: white;
    text-align: center;
    padding: 10px;
}
nav li a:hover{
    text-decoration: underline;
}
.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{
    border: 4px dashed slategray;
    outline: none;
}
form input:valid{
    border: 4px solid green;
}
article p::first-line{
    font-size: 20px;
    font-weight: bald;
}
section.joinn p::first-letter{
    font-size: 1.2em;
}
p::selection{
    background-color: #b43232;
    color: white;
}
p::after{
    content: '...'
}
footer p::after{
    content:''
}
@media screen and (max-width: 1400px){
    .banner h2{
        font-size: 40px;
    }
    .banner h2 span{
        font-size: 55px;
    }
    nav li{
        font-size: 15px;
    }
}
@media screen and (max-width: 920px){
    .banner h2{
        font-size: 30px;
    }
    .banner h2 span{
        font-size: 38px;
    }
}
@media screen and (max-width: 700px){
   .banner .welcome{
    position: relative;
    padding: 9px;
    text-align: center;
   }
  
   .banner h2 br{
    display: none;
   }
   .banner h2{
    font-size: 25px;
    }
.banner h2 span{
    font-size: 28px;
    }
    .images li{
        display: block;
        width: 100%;
        margin: 20px auto;
    }
}
@media screen and (max-width: 520px){
    nav li{
        font-size: 18px;
        width: 100%;
        margin: 10px 0px;
    }
    nav ul li{
        display: block;
    }
    header{
        position: relative;
    }
    nav{
        top: 0;
    }
}